@model OgrenciNotMvc.Models.EntityFramework.TBLDERSLER
@{
    ViewBag.Title = "YeniDers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-group" method="post">
    <div>
        <label>DERS ADI</label>
        @Html.TextBoxFor(x=>x.DERSAD, new {@class="form-control" })
    </div>
    <div style="margin-top: 15px">
        <button class="btn btn-success">Ekle</button>
    </div>
</form>
